.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 10px;
}

.mainTitle {
    width: 350px;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.04em;
    color: rgb(71, 71, 71);

    padding-top: 66%;
}

.bgImg {
    height: 100vh;
    background-image: url('../../assets/img/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}

@media screen and (min-width: 768px) {
    .mainTitle {
        width: 500px;
        position: absolute;
        top: 47%;
        left: 35%;
        transform: translate(-50%, -50%);

        font-size: 55px;
        font-style: italic;
        padding-top: 0;
    }

    .container {
        max-width: 768px;
    }

    .bgImg {
        height: 100vh;
        background-image: url('../../assets/img/2.png'), url('../../assets/img/7492002.png');
        background-position: bottom 0 right -110px;
    }
}


@media screen and (min-width: 1024px) {
    .bgImg {
        background-position: 40% 80%, right;
    }

    .container {
        max-width: 1024px;
    }
}