.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navLink {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.04em;
    margin-bottom: 10px;
}

.active {
    width: 100px;
    text-align: center;
    border-radius: 50px;
    background-color: #00afd7;
    color: #f0eafa;
    box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
    padding: 5px 10px;
}

/* .navLink:hover, .navLink:focus {
    width: 100px;
    text-align: center;
    border-radius: 50px;
    background-color: #e1dae9;
    box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
    padding: 5px 10px;
} */